NEXT_PUBLIC_AUTH_MODE=api
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=
NEXT_PUBLIC_COGNITO_IDENTITY_POOL_ID=

NEXT_PUBLIC_AWS_REGION=eu-central-1
NEXT_PUBLIC_AMAZON_LOCATION_MAP_NAME=
